.main-admin {
  margin-left: 290px;
  margin-right: 20px;
  background-color: transparent;
  margin-bottom: 20px;
  position: relative;
}

.welcome__container {
  display: flex;
  align-items: start;
  position: relative;
  border: 1px solid var(--black-900);
  border-radius: 20px;
}

.welcome__container-text {
  padding: 50px;
}

.welcome__container-text h1 {
  color: var(--blue-600);
  font-family: "Poppins";
}

.welcome__container-text p {
  color: var(--black-500);
}

.welcome__container-links-account {
  display: flex;
  align-items: end;
  justify-content: end;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  gap: 10px;
}

.dashboard__container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-between;
}

.dashboard__container .dashboard-col-1,
.dashboard__container .dashboard-col-2 {
  width: 100%;
}

.dashboard__container .dashboard-col-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.counts {
  display: flex;
  gap: 20px;
}

.counts .counts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 40px;
  border: 1px solid var(--black-900);
  border-radius: 20px;
  gap: 10px;
  max-height: 200px;
}

.counts .counts__item .counts__item-title {
  color: var(--white);
}

.counts .counts__item .counts__item-number {
  font-weight: bold;
  color: var(--white);
  font-size: 20px;
  background-color: var(--blue-600);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.reminder {
  display: flex;
  color: var(--white);
  flex-direction: column;
  width: 100%;
}

.reminder__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 20px;
}

.reminder__header span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50%;
  background: var(--blue-600);
}

.reminder__header svg {
  color: var(--white);
  width: 20px;
  height: 20px;
}

.reminder__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--black-900);
  border-radius: 20px;
  padding: 10px 20px;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
  position: relative;
}

.reminder__item:nth-child(2) {
  margin-top: 0;
}

.reminder__item .reminder__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: var(--blue-600);
}

.reminder__item .reminder__item-icon svg {
  color: var(--white);
  width: 20px;
  height: 20px;
}

.reminder__item .reminder__item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 10;
}

.reminder__item .reminder__item-content button {
  background-color: transparent;
  border: none;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.reminder__item .reminder__item-content button svg {
  color: var(--black-200);
  width: 20px;
  height: 20px;
}

.reminder__item .reminder__item-content .content-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.reminder__item .reminder__item-content .content-text span:nth-child(1) {
  color: var(--black-500);
  font-size: 16px;
  font-weight: bold;
}

.reminder__item .reminder__item-content .content-text span:nth-child(2) {
  color: var(--black-500);
  font-size: 14px;
}

.reminder__item .reminder__dropdown {
  display: none;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 10px 5px;
  border-radius: 10px;
  border: 1px solid var(--black-900);
  position: absolute;
  right: 47px;
  bottom: 20px;
  background-color: var(--black-950);
}

.reminder__item .reminder__dropdown.show {
  display: flex;
}

.reminder__item .reminder__dropdown button {
  background-color: transparent;
  border: none;
  color: var(--white);
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.reminder__item .reminder__dropdown button svg {
  color: var(--white);
  width: 17px;
  height: 17px;
}

.reminder > button {
  background-color: transparent;
  color: var(--black-300);
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-width: 2px;
  border-style: dashed;
  border-color: var(--black-900);
  border-spacing: 10px;
  margin-top: 20px;
}

.reminder > button:hover {
  background-color: var(--blue-600);
  color: var(--white);
  border: none;
}

.reminder > button:hover svg {
  color: var(--white);
}

.reminder > button svg {
  color: var(--black-300);
  width: 20px;
  height: 20px;
}

.recent-orders {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-orders .recent-orders__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.recent-orders .recent-orders__title h4 {
  color: var(--white);
}
