#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  cursor: pointer;
}

.modal-reminder__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal-reminder__form .modal-reminder__form-form-group {
  display: flex;
  height: 45px;
  width: 100%;
  border: 1px solid var(--black-900);
  border-radius: 10px;
}

.modal-reminder__form .modal-reminder__form-form-group span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 10px;
  border-right: 1px solid var(--black-900);
}

.modal-reminder__form .modal-reminder__form-form-group svg {
  width: 20px;
  height: 20px;
  color: var(--white);
}

.modal-reminder__form .modal-reminder__form-form-group input {
  height: 100%;
  width: 100%;
  border: none;
  color: var(--white);
  background-color: transparent;
  padding-left: 20px;
}

.modal-reminder__form .modal-reminder__form-form-group input:focus {
  border: 1px solid var(--blue-600);
  outline: none;
  border-radius: 0px 10px 10px 0px;
}

.modal-reminder__form .modal-reminder__form-form-group input::placeholder {
  color: var(--black-500);
}

.modal-reminder__form .modal-reminder__form-form-group-textarea {
  height: 100%;
  width: 100%;
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--black-900);
  border-radius: 10px;
}

.modal-reminder__form .modal-reminder__form-form-group-textarea textarea {
  height: 100%;
  width: 100%;
  border: none;
  color: var(--white);
  background-color: transparent;
  padding: 20px;
  resize: none;
}

.modal-reminder__form .modal-reminder__form-form-group-textarea textarea:focus {
  border: 1px solid var(--blue-600);
  outline: none;
  border-radius: 10px;
}

.modal-reminder__form
  .modal-reminder__form-form-group-textarea
  textarea::placeholder {
  color: var(--black-500);
}
